:root {
    --color-default: black;
    --color-main: skyblue;
    --color-error: orange;
    --color-line-main: var(--color-default);
    --color-line-sub: silver;
}

* {
    font-family: 'Droid Sans', sans-serif;
    font-family: 'Droid Serif', serif;
}

.boxes {
    display: inline-block;
    border: 0 solid var(--color-line-main);
    border-width: 0 1px 1px 0;
}

.box {
    display: inline-block;
    border: 0 solid var(--color-line-main);
    border-width: 1px 0 0 1px;
}

.row-in-box:first-child > .cell {
    border-top-style: none;
}

.cell:first-child {
    border-left-style: none;
}

.cell {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 16pt;
    line-height: 27pt;
    width: 27pt;
    height: 27pt;
    border-color: var(--color-line-sub);
    border-width: 1px 0 0 1px;
    border-style: solid;
    cursor: pointer;
}

.cell.hover {
    background-color: var(--color-main);
}

.cell.error {
    background-color: var(--color-error);
}

.cell .given {
    font-family: 'Droid Sans', sans-serif;
}

span.memo {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 6.5pt;
    line-height: 9pt;
    width: 9pt;
    height: 9pt;
}

span.memo:nth-of-type(3n)::after {
    content: '\A';
    white-space: pre-line;
}

.history {
    display: inline-block;
    vertical-align: top;
    overflow: auto;
    height: 100%;
    margin-left: 6pt;
}

.history::before {
    display: inline-block;
    content: 'HISTORY';
    padding: 0 6pt;
    font-size: 11pt;
    line-height: 15pt;
    border-bottom: 1px solid var(--color-line-main);
}

.history .event {
    padding: 2pt 4pt;
}

.history .event.active {
    background-color: var(--color-main);
}
